:root {
  --surface-primary: oklch(0.98 0.01 20);
  --surface-secondary: oklch(0.96 0.01 20);
  --text-primary: oklch(0.2 0.01 20);
  --text-secondary: oklch(0.5 0.01 20);
  --border-color: oklch(0.8 0.01 20);
  --text-size-s: 1.25rem;
  --text-size-l: 1.75rem;
  --text-size-xl: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  line-height: 1.4;
}

body,
html {
  background-color: var(--surface-primary);
  height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  height: 100%;
}
.page-container {
  max-width: 1120px;
  margin: 3rem auto;
  height: 100%;
}
