<nav class="navbar">
  <div class="nav-container">
    <a href="#" class="nav-logo"><img src="../public/logo.svg" alt="" /></a>

    <!-- Burger Menu Button for Mobile -->
    <button class="btn btn-ghost nav-toggle" aria-label="toggle navigation">
      <span class="hamburger"></span>
    </button>

    <!-- Navigation Links -->
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="/home" class="nav-link" data-route="/home">Home</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
      <li class="nav-item">
        <a href="/about" class="nav-link" data-route="/about">About</a>
      </li>
      <li class="nav-item">
        <a href="/admin" class="nav-link" data-route="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
