<div
  class="page-container"
  style="max-width: 1000px; margin: 2rem auto; padding: 0 1rem"
>
  <header class="hero-section">
    <div class="text-block">
      <div class="hero-text">
        <h1 class="greet-text">Hey there! I'm Dibyajeet</h1>
        <p class="greet-sub-text">
          Product Designer crafting experiences that are intuitive and
          empowering for everyone.
        </p>
      </div>
      <div class="location">
        <p>Durgapur, India</p>
      </div>
    </div>
    <div class="hero-img-container">
      <img class="hero-image" src="../public/hero-image.svg" alt="hero-image" />
    </div>
  </header>

  <div id="public-projects-grid">
    <p
      style="
        color: var(--text-secondary);
        grid-column: 1/-1;
        text-align: center;
      "
    >
      Querying latest database layout streams...
    </p>
  </div>
</div>
